input, li{
  color: black;
}

body {
  text-align: center;
  color: white;
  background: url("../img/bg.png") center center no-repeat fixed #292929;

-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

}

h2 {
  font-size: 4em;
}

p {
  font-size: 2em;
  margin-top: -1em;
}

div#weather {
  margin-bottom: 5em;
}

i {
  color: white;
}

button {
  text-decoration: none;
}

.simpleWeather {
  color:white;

}